html {
    
    body {

        div {
         
            // WRAPPER
            &.wrapper {


                div {

                    // LOGO (WRAPPER)
                    &.logo-wrapper {
                                    
                        top: 0;
                        left: 0;
                        width: 125px;
                        height: 125px;

                    }

                    // HEADER
                    &.page-header {

                        width: 50vw;
                        height: auto;
            
                        background-image: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #fff 100%);
                        background-repeat: no-repeat;
            
                        animation: opacity-in .9s ease;

                    }

                    // FOOTER
                    &.page-footer {

                        height: 30vh !important;
    
                    }
                }
            }
        }
    }
}