@import "./vars";
@import "./includes";


section.s__projects {

    @extend section;
  
    padding: 0;
    margin: 0;
    min-height: 100vh;

    div {

        &.project__preview {
          height: 100vh;
          position: relative;
          z-index: 4;


        }

        &.project-1 {
          background-color: white;
        }

        &.project-2 {
          
        }

        &.project-3 {
          
        }


        div {

          &.image__container {
            top: 0;
            left: 0;
            z-index: 0;
            position: absolute;

            height: 100vh;
            width: 100%;

            background-image: url("./imgs/project_1/bg_cutted_1.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

          }

          &.headline__wrapper {


              width: 300px;

              position: absolute;
              top: $top;
              left: $left-right;

              z-index: 30;

              hr {
                
                @include a-small-spacer;
                
                margin-left: 10px;
                width: 40%;
                border: 10px solid $accent;
              
              }

          }

        }
  
    }
}