@import "./vars";
@import "./includes";


section.s__projects {

    @extend section;
  
    padding: 0;
    margin: 0;
    min-height: 100vh;

    div {

        &.project__preview {
          height: 100vh;
        }

        &.project__supercloud {
          
        }

        &.project__super__cord {
          background: pink;
        }

        &.project__super__interface {
          background: blue;
        }
    
    }
}