@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
*.fixed {
  position: fixed;
}

*.section {
  height: 100vh;
  width: 100%;
}

*.no-padding {
  padding: 0;
}

*.no-margin {
  margin: 0;
}

*.fitted {
  width: 100%;
  height: 100%;
}

*.dimension-bg {
  background-image: url("../assets/landing_background.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #FFFFFF;
}

*.text {
  color: #090909;
  font-family: 'Work Sans';
  text-transform: lowercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  will-change: opacity;
}

*.text.headline {
  display: block;
  font-size: calc(4vw + 3vh);
  font-weight: 600;
}

*.text.headline.fancy-headline {
  -webkit-transition: color 0.5s ease-in-out, background-size 0.5s ease-in-out;
  transition: color 0.5s ease-in-out, background-size 0.5s ease-in-out;
  background-image: linear-gradient(120deg, #fff1b8 0%, #fff1b8 100%);
  background-repeat: no-repeat;
  background-position: 0 88%;
  background-size: 0% 0.35em;
}

*.text.headline.fancy-headline:hover {
  background-size: 50% 0.35em;
  color: #FDCD07;
}

*.text.headline.fancy-headline-always {
  background-image: linear-gradient(120deg, #fff1b8 0%, #fff1b8 100%);
  background-repeat: no-repeat;
  background-position: 0 88%;
  background-size: 50% 0.35em;
  color: #FDCD07;
}

*.text.subline {
  color: #6A6A6A;
  font-size: calc(3vw + 2vh);
  font-weight: 400;
}

*.text.use-introducer::before {
  content: "\a0";
  float: left;
  width: 250px;
  height: 5px;
  background: #6A6A6A;
  margin-right: 30px;
}

*.text.footer-headline {
  margin-bottom: 30px;
}

*.text.footer-link {
  color: #6A6A6A;
  -webkit-transition: color .3s;
  transition: color .3s;
}

*.text.footer-link:hover {
  color: #FDCD07;
}

a {
  text-decoration: none;
}

html body div.wrapper div.logo-wrapper {
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
}

html body div.wrapper div.page-header {
  width: 40vw;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(0%, rgba(255, 255, 255, 0)), to(#fff));
  background-image: linear-gradient(0, rgba(255, 255, 255, 0) 0%, #fff 100%);
  background-repeat: no-repeat;
  -webkit-animation: opacity-in .9s ease;
          animation: opacity-in .9s ease;
}

html body div.wrapper div.page-header h2, html body div.wrapper div.page-header a {
  -webkit-transition: color .2s;
  transition: color .2s;
  font-size: x-large;
  position: relative;
}

html body div.wrapper div.page-header h2::before, html body div.wrapper div.page-header a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 3px;
  margin: 5px 0 0;
  opacity: 1;
  background-color: #090909;
  -webkit-transition: width .5s;
  transition: width .5s;
}

html body div.wrapper div.page-header h2:hover, html body div.wrapper div.page-header a:hover {
  color: #FDCD07;
}

html body div.wrapper div.page-header h2:hover::before, html body div.wrapper div.page-header a:hover::before {
  width: 65%;
}

html body div.wrapper div.page-footer {
  height: 30vh !important;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
}

.wrapper .container.section-container, .wrapper .container-fluid.section-container {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
}

.wrapper .container.section-container .row, .wrapper .container-fluid.section-container .row {
  height: 100%;
}
/*# sourceMappingURL=main.css.map */